*, *::before, *::after {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #2B64F3;
  background-image: url("imgs/setka.png");

}
@media screen and (max-width: 980px){
  body {
    align-items: flex-start;
  }
}

.world {
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 800px) {
  .world {
    width: 400px;
    height: 181px;
  }
}

.score {
  position: absolute;
  font-size: 26px;
  right: 7vmin;
  top: 0;
  color: #3d3d3d;
}

.start-screen {
  position: absolute;
  font-size: 5vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide {
  display: none;
}

.ground {
  height: 7px;
  background-color: #DEFF57;
  --left: 0;
  position: absolute;
  width: 300%;
  bottom: 0;
  left: calc(var(--left) * 1%)
}

.dino {
  --bottom: 0;
  position: absolute;
  left: 1%;
  width: 100px;
  height: 25%;
  background-image: url("imgs/run 2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  bottom: calc(var(--bottom) * 1%);
}
@media screen and (max-width: 800px){
   .dino {
     width: 27px;
     height: 36px;
   }
}

.cactus {
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 35%;
  bottom: 0;
}

@media screen and (max-width: 800px) {
  .cactus {
    height: 27%;
  }
}

.cloud {
  background-image: url("imgs/cloud.png");
  background-repeat: no-repeat;
  width: 150px;
  height: 90px;
  position: absolute;
  top: 100px;
  right: 0;
  animation: animateCloud 5s linear infinite;
}

@keyframes animateCloud {
  0% {
    right: 0;
  }
  100% {
    right: 110%;
  }
}

.city {
  background-image: url("imgs/city.png");
  width: 100%;
  height: 100%;
  position: absolute;
  right: -10%;
  animation: animateCity 5s linear infinite;
}
@keyframes animateCity {
  0% {
    right: -10%;
  }
  100% {
    right: 120%;
  }
}
