*, *::before, *::after {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
@media screen and (max-width: 980px){
  body {
    align-items: flex-start;
  }
}

.world {
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 800px) {
  .world {
    width: 400px;
    height: 181px;
  }
}

.score {
  position: absolute;
  font-size: 26px;
  right: 7vmin;
  top: 0;
  color: #3d3d3d;
}

.start-screen {
  position: absolute;
  font-size: 5vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide {
  display: none;
}

.ground {
  --left: 0;
  position: absolute;
  width: 300%;
  bottom: 0;
  left: calc(var(--left) * 1%)
}

.dino {
  --bottom: 0;
  position: absolute;
  left: 1%;
  width: 110px;
  height: 30%;
  background-image: url("https://thumbs.gfycat.com/FrenchAptGopher-size_restricted.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  transform: scaleX(-1);
  bottom: calc(var(--bottom) * 1%);
}
@media screen and (max-width: 800px){
   .dino {
     width: 27px;
     height: 36px;
   }
}

.cactus {
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 30%;
  bottom: 0;
}

@media screen and (max-width: 800px) {
  .cactus {
    height: 27%;
  }
}
