* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    width: 100%;
    overflow-y: hidden;
}
@media screen and (max-width: 990px){
    body {
        overflow-y: auto;
        height: auto;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: #2862F5;
    background-size: contain;
    background-image: url("imgs/setka.png");
}
header {
    display: flex;
    align-items: center;
    width: 90%;
    margin-top: 40px;
    justify-content: space-between;
}
header .rule, header .rating {
    text-decoration: none;
    color: #ffffff;
    opacity: 0.86;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
}
.title {
    font-family: 'Superstar';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 100.3%;
    text-shadow: 0px 4px 1px #0235B6;
    text-align: center;
    color: #FFFFFF;
    margin-top: 34px;
}
.subtitle {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 134.1%;
    text-align: center;
    color: #DEFF57;
    margin-top: 15px;
}
.subtitle span {
    font-weight: 700;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.form_inputs {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
}

label {
    width: 340px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    flex-direction: column;
}
label input {
    width: 352px;
    height: 61px;
    outline: none;
    border: none;
    font-family: 'Manrope', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 124.1%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2862F5;
    background: #FFFFFF;

}
label input::placeholder {
    color: #2862F5;
}
label input:-webkit-autofill
{
    background: #FFFFFF !important;
    color: #2862F5 !important;
}
.playBtn {
    cursor: pointer;
    width: 290px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #DEFF57;
}
.playBtn .playBtn_container {
    width: 310px;
    padding-top: 7px;
    padding-bottom: 7px;
    display: flex;
    cursor: pointer;

    align-items: center;
    background: #DEFF57;
}
.playBtn_subcontainer {
    width: 330px;
    height: 50px;
    background: #DEFF57;
    cursor: pointer;
    font-family: 'Superstar';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 100.3%;
    text-align: center;
    color: #2B64F3;

}
.btn {
    cursor: pointer;
    border: none;
    outline: none;
    margin-top: 40px;
    background-color: transparent;
    background-image: url("imgs/playBtn.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid;
    width: 330px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: 'Superstar';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 100.3%;
    text-align: center;
    color: #2B64F3;
}

.gameInit {
    width: 100%;
    position: relative;
    height: 70px;
}
.ground {
    width: 100%;
    height: 7px;
    position: absolute;
    bottom: 0;
    background: #DEFF57;
}
.dino {
    width: 100px;
    height: 100px;
    background-image: url("imgs/hero.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 200px;
    bottom: 7px;
    animation: animateDino  1s ease infinite alternate;
}

@-webkit-keyframes animateDino {
    0% {
        bottom: 100px;
    }
    100% {
        bottom: 0px;
    }
}

.cactus {
    width: 100px;
    height: 120px;
    position: absolute;
    bottom: 7px;
    right: 10%;
}
.cactus img {
    width: 100%;
    height: 100%;
}
.adv {
    right: 20%;
}

.footer {
    background: #1B50D3;
    width: 100%;
    height: 400px;
}


@media screen and (max-width: 1565px) {
    .form {
        width: 60%;
    }
    .cactus {
        right: 7%;
    }
    .adv {
        right: 15%;
    }

}
@media screen and (max-width: 1300px) {
    .form {
        width: 70%;
    }
    .cactus {
        right: 0;
    }
    .adv {
        right: 8%;
    }
    /*.footer {*/
    /*    position: absolute;*/
    /*    bottom: 0;*/
    /*}*/
}
@media screen and (max-width: 1120px) {
    .form {
        width: 80%;
    }
    .cactus {
        right: 0;
    }
    .adv {
        display: none;
    }
    .container {
        height: 100%;
        padding-bottom: 50px;
    }
}
@media screen and (max-width: 990px) {
    body {
        height: 100vh;
    }
    .container {
    }
    .form {
        width: 90%;
    }
    .gameInit {
        display: none;
    }
    .form_inputs {
        flex-direction: column;
    }
    .form_inputs label {
        margin: 0 auto 50px;
    }
    .form_inputs label input {
    }
    .footer {
        display: none;
    }
    header {
        width: 90%;
        margin-bottom: 100px;
    }
    header .logo {
        margin-left: 20px;
    }
    header .logo img {
        width: 100%;
        height: 100%;
    }
    .title {
        font-size: 60px;
    }
    .subtitle {
        font-size: 20px;
    }
    .btn {
        margin-top: 0;
        cursor: pointer;
        font-family: 'Superstar';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 100.3%;
        text-align: center;
        color: #2B64F3;
        width: 220px;
        height: 100px;
    }
}
@media screen and (max-width: 530px){
    .container {
        height: 100%;
    }
    header {
        margin-bottom: 30px;
    }
    header a{
        font-size: 12px !important;
    }
    header .logo {
        width: 50px;
    }
    .title {
        margin-top: 0;
        font-size: 50px;
    }
    .subtitle {
        font-size: 15px;
    }
    .form_inputs {
        margin-bottom: 0;
    }
    .form_inputs label {
        width: 290px;
        height: 80px;
    }
    .form_inputs label input {
        width: 305px;
    }
    .playBtn {
        width: 200px !important;
        height: 60px;
    }
    .playBtn_container {
        width: 220px !important;
    }
    .playBtn_subcontainer {
        width: 240px !important;
        font-size: 25px;
    }
}
@media screen and (max-width:   281px) {
    .form_inputs label {
        width: 230px;
    }
    .form_inputs label input {
        width: 255px;
    }
}
